.Container{
  padding: 0 20px;
}
.App {
  display: flex;
  font-size: 16px;
}


.input{
  width: 50vw;
  height: 100vh;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.result{
  margin: 20px;
  width: 50vw;
}